/*
*   COLORS
*   see: https://flatuicolors.com/
*/
/*
* Raw color data in a map
*/
/*
* Returns a color from the map
*/
/*
* Sets the bg of the element and dark version of the color for hover
*/
/*
*   Functions and variables for a responsive design
*/
/*
* Styles for screen sizes large, medium or small
*/
/*
*   MIXINS
*/
/*
*   BASICS
*/
body, html, #body, #main-frame, #game-frame {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

/*
*   FRAMES
*/
#game-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.frame {
  height: 100%; }

#map-frame {
  width: 70%; }

#work-frame {
  width: 30%; }

#selected-city-frame {
  height: 40%; }

#canvas-frame {
  height: 60%; }

#stats-frame {
  display: none;
  width: 70%; }

#city-info-frame {
  width: 40%;
  position: relative;
  float: left; }

#upgrade-info-frame {
  width: 60%;
  float: right; }

/*
*   CITY SELECT
*/
.selected-city > .icon {
  font-size: 10px; }

.selected-city {
  padding: 0 5px 0 5px;
  background-color: #ecf0f1;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.city-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.selected-city:hover {
  background-color: #bdc3c7;
  cursor: pointer; }

.select-search {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 0 5px 0 5px;
  border: none; }

.select-options {
  top: 0;
  display: none;
  width: 100%;
  background-color: #ecf0f1;
  cursor: pointer;
  position: absolute;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.select-option {
  padding: 1px 5px 1px 5px;
  width: 100%;
  text-overflow: ellipsis; }

.select-option:nth-child(even) {
  background-color: #bdc3c7; }

.selected-city > .name {
  max-width: 100%;
  text-overflow: ellipsis; }

#selected-city-icon-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.city-icon {
  height: 100px;
  width: 100px;
  margin-top: 25px; }

/*
* WORK FRAME
*/
#total-frame {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.total-money {
  font-size: 30px; }

.total-mpd {
  font-size: 12px; }

#total-frame > div {
  width: 100%;
  text-align: center;
  height: auto; }

#work {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto; }

#click-frame {
  height: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.work-money-pile {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 215px;
  width: auto; }

/*
*   MODALS
*/
.modal-bg {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

.modal {
  background-color: #ecf0f1;
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: auto;
  border-radius: 5px; }

.modal-buttons {
  overflow: auto;
  padding-top: 10px; }

.modal-button {
  float: right;
  border: none;
  padding: 5px;
  color: white;
  min-width: 40px;
  border-radius: 2px;
  cursor: pointer; }

.modal-button-no, .modal-button-cancel {
  float: left;
  background-color: #e74c3c; }
  .modal-button-no:hover, .modal-button-cancel:hover {
    background-color: #c0392b; }

.modal-button-yes, .modal-button-ok {
  background-color: #2ecc71; }
  .modal-button-yes:hover, .modal-button-ok:hover {
    background-color: #27ae60; }

.modal-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px; }

#new-company-modal, #new-outlet-modal {
  display: none; }

/*
*   INPUTS
*/
.input-title {
  padding: 3px 0 3px 0;
  font-weight: 300; }

.text-input {
  width: 100%;
  padding: 5px 3px 5px 3px;
  font-size: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bdc3c7;
  border-radius: 2px; }

/*
*   NAVIGATION
*/
#navigation-frame {
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 0px 20px 0px 20px;
  top: 0;
  left: 0;
  background: #ecf0f1; }

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: auto;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px 0 20px;
  cursor: pointer;
  background-color: #ecf0f1; }
  .nav-button:hover {
    background-color: #bdc3c7; }

#main-frame {
  padding-top: 50px; }

.day-clock {
  float: left;
  height: 50px;
  line-height: 50px; }

/*
*   LISTS
*/
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.list-item {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #ecf0f1;
  position: relative; }
  .list-item:hover {
    background-color: #bdc3c7; }

.list-title {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  float: left; }

.list-number {
  line-height: 50px;
  padding-left: 10px;
  float: left;
  min-width: 51px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  opacity: 0.2; }

.list-money {
  float: right;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*
*   MONEY
*/
.money {
  margin: 0 10px 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  min-width: 50px;
  position: relative; }

.money > .amount {
  position: relative;
  z-index: 1; }

.money-pile {
  max-width: 100%;
  max-height: 70%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
