/*
*   COLORS
*   see: https://flatuicolors.com/
*/
/*
* Raw color data in a map
*/
/*
* Returns a color from the map
*/
/*
* Sets the bg of the element and dark version of the color for hover
*/
/*
*   Functions and variables for a responsive design
*/
/*
* Styles for screen sizes large, medium or small
*/
/*
*   MIXINS
*/
/*
*   BASICS
*/
body, html, #body, #main-frame, #game-frame {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: white; }

/*
*   FRAMES
*/
#game-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.frame {
  height: 100%; }

#map-frame {
  width: 70%; }

#work-frame {
  width: 30%;
  border-right: 5px solid #000000; }

#selected-city-frame {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-top: 5px solid #000000; }

#canvas-frame {
  height: 60%; }

#stats-frame, #store-frame, #settings-frame {
  display: none;
  overflow-y: auto;
  width: 70%; }

#city-info-frame {
  width: 40%;
  border-right: 5px solid #000000; }

#upgrade-info-frame {
  overflow-y: auto;
  width: 60%; }

/*
*   CITY SELECT
*/
.selected-city > .icon {
  font-size: 10px; }

.selected-city {
  padding: 0 5px 0 5px;
  background-color: #000000;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }

.city-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.select-search {
  width: 100%;
  position: relative;
  font-size: 20px;
  padding: 1px 5px 1px 5px;
  border: none;
  z-index: 1; }

.select-options {
  top: 0;
  display: none;
  width: 100%;
  background-color: #000000;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden; }

.select-option {
  padding: 1px 5px 1px 5px;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  z-index: 1; }

.selected-city > .name {
  max-width: 100%;
  text-overflow: ellipsis; }

#selected-city-icon-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.city-icon {
  height: 100px;
  width: 100px;
  margin-top: 25px; }

.close-city-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%; }

/*
* WORK FRAME
*/
#work-frame {
  background-color: #1a1a1a;
  color: white; }

#total-frame {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.total-money {
  font-size: 30px; }

.total-mpd {
  font-size: 12px; }

#total-frame > div {
  width: 100%;
  text-align: center;
  height: auto; }

#work {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  width: 180px;
  height: 180px;
  position: relative;
  margin: 0 auto 0 auto; }

#ore {
  position: absolute;
  bottom: 0;
  left: 0; }

#pickaxe {
  position: absolute;
  top: 0;
  right: 0; }

#click-frame {
  height: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.work-money-pile {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

/*
*   MODALS
*/
.modal-bg {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

.modal {
  background-color: #ecf0f1;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: auto;
  border-radius: 5px; }

.modal-buttons {
  overflow: auto;
  padding-top: 10px; }

.modal-button {
  float: right;
  border: none;
  padding: 5px;
  color: white;
  min-width: 40px;
  border-radius: 2px;
  cursor: pointer; }

.modal-button-no, .modal-button-cancel {
  float: left;
  background-color: #e74c3c; }
  .modal-button-no:hover, .modal-button-cancel:hover {
    background-color: #c0392b; }

.modal-button-yes, .modal-button-ok {
  background-color: #2ecc71; }
  .modal-button-yes:hover, .modal-button-ok:hover {
    background-color: #27ae60; }

.modal-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px; }

#new-company-modal, #new-outlet-modal {
  display: none; }

/*
*   INPUTS
*/
.input-title {
  padding: 3px 0 3px 0;
  font-weight: 300; }

.text-input {
  width: 100%;
  padding: 5px 3px 5px 3px;
  font-size: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bdc3c7;
  border-radius: 2px; }

/*
*   NAVIGATION
*/
#navigation-frame {
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 0px 20px 0px 20px;
  top: 0;
  left: 0;
  background: #000000; }

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: auto;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 20px 0 20px;
  cursor: pointer; }

#main-frame {
  padding-top: 50px; }

.day-clock {
  float: left;
  height: 50px;
  line-height: 50px; }

/*
*   LISTS
*/
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }

.list-item {
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: relative; }

.list-title {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  float: left; }

.list-number {
  line-height: 50px;
  padding-left: 10px;
  float: left;
  min-width: 51px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  opacity: 0.2; }

.list-money {
  float: right;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.list-info {
  position: absolute;
  height: 50px;
  top: -50px;
  left: 0;
  width: 100%;
  background-color: #000000;
  box-sizing: border-box;
  padding: 5px;
  z-index: 2;
  display: none; }

.cannot-upgrade {
  background-color: #000000; }

.can-upgrade {
  background-color: #000000; }

#company-list > .can-upgrade {
  background-color: #ecf0f1; }
  #company-list > .can-upgrade:hover {
    background-color: #bdc3c7; }

#company-list > .cannot-upgrade {
  background-color: #bdc3c7; }

/*
*   MONEY
*/
.money {
  margin: 0 10px 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  min-width: 50px;
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.not-enough {
  color: #e74c3c; }

.enough {
  color: white; }

.money > .amount {
  position: relative;
  z-index: 1; }

.money-pile {
  max-width: 100%;
  max-height: 70%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

/*
*   DEBUG CONTROLS
*/
.debug-controls {
  display: none;
  position: absolute;
  background-color: #000000;
  top: 100px;
  z-index: 100;
  left: 0; }

.debug-control {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  padding: 5px;
  cursor: pointer; }

/*
*   POPUPS
*/
#pop-up-frame {
  z-index: 2;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
  width: 320px;
  bottom: 0;
  left: 0; }

.pop-up {
  opacity: 0;
  width: 300px;
  font-size: 14px;
  background-color: #000000;
  position: relative;
  margin: 5px 0 5px 10px; }

.pop-up-icon {
  float: left;
  height: 75px;
  width: 75px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.pop-up-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 5px; }

.pop-up-title {
  font-size: 16px; }

.pop-up-description {
  font-size: 14px; }

.pop-up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px; }

.pop-up-close {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer; }

/*
*   STATS
*/
.stat-item {
  padding: 10px; }

.stat-item-title {
  margin: 10px 0 10px 0;
  padding: 0; }

.stat-item-description {
  padding-bottom: 10px; }

/*
*   ACHIEVEMENTS
*/
.achievement-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.achievement-icon, .achievement {
  padding: 5px;
  width: 63px;
  height: 63px; }

.achievement {
  position: relative; }

.achievement:hover > .achievement-hover {
  display: inline-block; }

.achievement-title {
  font-weight: 700; }

.achievement-description {
  font-size: 12px; }

.achievement-triangle {
  width: 20px;
  height: 20px;
  background-color: #000000;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%; }

.achievement-hover {
  padding: 5px;
  display: none;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000000;
  width: 200px;
  height: 55px; }

/*
*   NEW COMPANY MODAL
*/
.company-type-icon {
  width: 63px;
  height: 63px; }

.company-types {
  margin-bottom: 10px; }

.company-type {
  cursor: pointer;
  padding: 5px; }

.company-type-title {
  font-size: 12px;
  max-width: 63px;
  text-align: center; }

.company-type > input + img {
  border: 2px solid transparent; }

.company-type > input:checked + img {
  border: 2px solid #e74c3c; }

.company-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.company-type-input {
  display: none; }
