@import "colors";
@import "responsiveness";

/*
*   MIXINS
*/

@mixin parent-size() {
    width: 100%;
    height: 100%;
}

@mixin no-selection() {
    user-select: none;
    -webkit-touch-callout: none;
}

@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-absolute() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
*   BASICS
*/

body, html, #body, #main-frame, #game-frame {
    padding: 0;
    margin: 0;
    @include parent-size();
    overflow: hidden;
    border: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: color('black');
    color: white;
}

/*
*   FRAMES
*/

$leftside: 30%;
$rightside: 70%;

#game-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.frame {
    height: 100%;
}

#map-frame {
    width: $rightside;
}

#work-frame {
    width: $leftside;
    border-right: 5px solid color('darkblack');
}

#selected-city-frame {
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 5px solid color('darkblack');
}

#canvas-frame {
    height: 60%;
}

#stats-frame, #store-frame, #settings-frame {
    display: none;
    overflow-y: auto;
    width: $rightside;
}

#city-info-frame {
    width: 40%;
    border-right: 5px solid color('darkblack');
}

#upgrade-info-frame {
    overflow-y: auto;
    width: 60%;
}

/*
*   CITY SELECT
*/

$selected-city-height: 50px;
$select-color: color('darkblack');
$selected-city-font-size: 20px;
$selected-city-padding: 0 5px 0 5px;

.selected-city > .icon {
    font-size: 10px;
}

.selected-city {
    padding: $selected-city-padding;
    background-color: $select-color;
    height: $selected-city-height;
    line-height: $selected-city-height;
    font-size: $selected-city-font-size;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.city-select {
    @include no-selection();
}

.select-search {
    width: 100%;
    position: relative;
    font-size: $selected-city-font-size;
    padding: 1px 5px 1px 5px;
    border: none;
    z-index: 1;
}

.select-options {
    top: 0;
    display: none;
    width: 100%;
    background-color: $select-color;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-option {
    padding: 1px 5px 1px 5px;
    position: relative;
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
    z-index: 1;
}

.selected-city > .name {
    max-width: 100%;
    text-overflow: ellipsis;
}

#selected-city-icon-frame {
    display: flex;
    justify-content: center;
}

.city-icon {
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

.close-city-select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include parent-size();
}

/*
* WORK FRAME
*/

#work-frame {
    background-color: color('black');
    color: white;
}

#total-frame {
    height: 30%;
    @include center-flex();
    flex-direction: column;
}

.total-money {
    font-size: 30px;
}

.total-mpd {
    font-size: 12px;
}

#total-frame > div {
    width: 100%;
    text-align: center;
    height: auto;
}

#work {
    @include no-selection();
    width: 180px;
    height: 180px;
    position: relative;
    margin: 0 auto 0 auto;
}

#ore {
    position: absolute;
    bottom: 0;
    left: 0;
}

#pickaxe {
    position: absolute;
    top: 0;
    right: 0;
}

#click-frame {
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.work-money-pile {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*
*   MODALS
*/

$modalbg: rgba(0,0,0,0.5);
$modalcolor: color('white');
$modalnegative: 'red';
$modalpositive: 'green';

.modal-bg {
    z-index: 100;
    @include parent-size();
    @include center-flex();
    background-color: $modalbg;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    background-color: $modalcolor;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 5px;
}

.modal-buttons {
    overflow: auto;
    padding-top: 10px;
}

.modal-button {
    float: right;
    border: none;
    padding: 5px;
    color: white;
    min-width: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.modal-button-no, .modal-button-cancel {
    float: left;
    @include dark-on-hover($modalnegative);
}

.modal-button-yes, .modal-button-ok {
    @include dark-on-hover($modalpositive);
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

#new-company-modal, #new-outlet-modal {
    display: none;
}

/*
*   INPUTS
*/

$inputbg: white;
$inputborder: color("darkwhite");

.input-title {
    padding: 3px 0 3px 0;
    font-weight: 300;
}

.text-input {
    width: 100%;
    padding: 5px 3px 5px 3px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: $inputbg;
    border: 1px solid $inputborder;
    border-radius: 2px;
}

/*
*   NAVIGATION
*/

$barheight: 50px;
$navbg: 'darkblack';


#navigation-frame {
    height: $barheight;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 0px 20px 0px 20px;
    top: 0;
    left: 0;
    background: color($navbg);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: auto;
    height: $barheight;
    @include no-selection();
}

.nav-button {
    @include center-flex();
    flex-direction: row;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

#main-frame {
    padding-top: $barheight;
}

.day-clock {
    float: left;
    height: $barheight;
    line-height: $barheight;
}

/*
*   LISTS
*/

$listitemcolor: 'darkblack';
$listitemheight: 50px;

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include no-selection();
}

.list-item {
    width: 100%;
    height: $listitemheight;
    cursor: pointer;
    position: relative;
}

.list-title {
    height: $listitemheight;
    line-height: $listitemheight;
    padding-left: 10px;
    float: left;
}

.list-number {
    line-height: $listitemheight;
    padding-left: 10px;
    float: left;
    min-width: 51px;
    height: $listitemheight;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.2;
}

.list-money {
    float: right;
    height: $listitemheight;
    @include center-flex();
}

.list-info {
    position: absolute;
    height: 50px;
    top: -50px;
    left: 0;
    width: 100%;
    background-color: color('darkblack');
    box-sizing: border-box;
    padding: 5px;
    z-index: 2;
    display: none;
}

.cannot-upgrade {
    background-color: color('darkblack');
}

.can-upgrade {
    background-color: color('darkblack');
}

#company-list > .can-upgrade {
    @include dark-on-hover('white');
}

#company-list > .cannot-upgrade {
    background-color: color('darkwhite');
}

/*
*   MONEY
*/

.money {
    margin: 0 10px 0 10px;
    height: 100%;
    @include center-flex();
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    min-width: 50px;
    position: relative;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.not-enough {
    color: color('red');
}

.enough {
    color: white;
}

.money > .amount {
    position: relative;
    z-index: 1;
}

.money-pile {
    max-width: 100%;
    max-height: 70%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*
*   DEBUG CONTROLS
*/

.debug-controls {
    display: none;
    position: absolute;
    background-color: color('darkblack');
    top: 100px;
    z-index: 100;
    left: 0;
}

.debug-control {
    @include no-selection();
    padding: 5px;
    cursor: pointer;
}

/*
*   POPUPS
*/

#pop-up-frame {
    z-index: 2;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 320px;
    bottom: 0;
    left: 0;
}

.pop-up {
    opacity: 0;
    width: 300px;
    font-size: 14px;
    background-color: color('darkblack');
    position: relative;
    margin: 5px 0 5px 10px;
}

.pop-up-icon {
    float: left;
    height: 75px;
    width: 75px;
    flex: 0 0 auto;
}

.pop-up-text {
    flex: 1 1 auto;
    padding-left: 5px;
}

.pop-up-title {
    font-size: 16px;
}

.pop-up-description {
    font-size: 14px;
}

.pop-up-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.pop-up-close {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}

/*
*   STATS
*/

.stat-item {
    padding: 10px;
}

.stat-item-title {
    margin: 10px 0 10px 0;
    padding: 0;
}

.stat-item-description {
    padding-bottom: 10px;
}

/*
*   ACHIEVEMENTS
*/

$achievementbg: color('darkblack');

.achievement-container {
    display: inline-flex;
    flex-direction: row;
}

.achievement-icon, .achievement {
    padding: 5px;
    width: 63px;
    height: 63px;
}

.achievement {
    position: relative;
}

.achievement:hover > .achievement-hover {
    display: inline-block;
}

.achievement-title {
    font-weight: 700;
}

.achievement-triangle {
    width: 20px;
    height: 20px;
    background-color: $achievementbg;
    transform: rotate(-45deg) translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
}

.achievement-hover {
    padding: 5px;
    display: none;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $achievementbg;
    width: 200px;
    height: 55px;
}
