@import "colors";
@import "responsiveness";

/*
*   MIXINS
*/

@mixin parent-size() {
    width: 100%;
    height: 100%;
}

@mixin no-selection() {
    user-select: none;
    -webkit-touch-callout: none;
}

@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-absolute() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
*   BASICS
*/

body, html, #body, #main-frame, #game-frame {
    padding: 0;
    margin: 0;
    @include parent-size();
    overflow: hidden;
    border: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*
*   FRAMES
*/

$leftside: 30%;
$rightside: 70%;

#game-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.frame {
    height: 100%;
}

#map-frame {
    width: $rightside;
}

#work-frame {
    width: $leftside;
}

#selected-city-frame {
    height: 40%;
}

#canvas-frame {
    height: 60%;
}

#stats-frame {
    display: none;
    width: $rightside;
}

#city-info-frame {
    width: 40%;
    position: relative;
    float: left;
}

#upgrade-info-frame {
    width: 60%;
    float: right;
}

/*
*   CITY SELECT
*/

$selected-city-height: 40px;
$select-color: color('white');
$select-secondary-color: color('darkwhite');
$selected-city-font-size: 20px;
$selected-city-padding: 0 5px 0 5px;

.selected-city > .icon {
    font-size: 10px;
}

.selected-city {
    padding: $selected-city-padding;
    background-color: $select-color;
    height: $selected-city-height;
    line-height: $selected-city-height;
    font-size: $selected-city-font-size;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.city-select {
    @include no-selection();
}

.selected-city:hover {
    background-color: $select-secondary-color;
    cursor: pointer;
}

.select-search {
    height: $selected-city-height;
    width: 100%;
    font-size: $selected-city-font-size;
    padding: $selected-city-padding;
    border: none;
}

.select-options {
    top: 0;
    display: none;
    width: 100%;
    background-color: $select-color;
    cursor: pointer;
    position: absolute;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-option {
    padding: 1px 5px 1px 5px;
    width: 100%;
    text-overflow: ellipsis;
}

.select-option:nth-child(even) {
    background-color: $select-secondary-color;
}

.selected-city > .name {
    max-width: 100%;
    text-overflow: ellipsis;
}

#selected-city-icon-frame {
    display: flex;
    justify-content: center;
}

.city-icon {
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

/*
* WORK FRAME
*/

$totalframeheight: 200px;

#total-frame {
    height: $totalframeheight;
    line-height: $totalframeheight;
    text-align: center;
    font-size: 30px;
}

#work {
    @include no-selection();
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;

}

#click-frame {
    display: flex;
    justify-content: center;
}

/*
*   MODALS
*/

$modalbg: rgba(0,0,0,0.5);
$modalcolor: color('white');
$modalnegative: 'red';
$modalpositive: 'green';

.modal-bg {
    z-index: 100;
    @include parent-size();
    @include center-flex();
    background-color: $modalbg;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    background-color: $modalcolor;
    box-sizing: border-box;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 5px;
}

.modal-buttons {
    overflow: auto;
    padding-top: 10px;
}

.modal-button {
    float: right;
    border: none;
    padding: 5px;
    color: white;
    min-width: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.modal-button-no, .modal-button-cancel {
    float: left;
    @include dark-on-hover($modalnegative);
}

.modal-button-yes, .modal-button-ok {
    @include dark-on-hover($modalpositive);
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

/*
*   INPUTS
*/

$inputbg: white;
$inputborder: color("darkwhite");

.input-title {
    padding: 3px 0 3px 0;
    font-weight: 300;
}

.text-input {
    width: 100%;
    padding: 5px 3px 5px 3px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: $inputbg;
    border: 1px solid $inputborder;
    border-radius: 2px;
}

/*
*   NAVIGATION
*/

$barheight: 50px;
$navbg: 'white';


#navigation-frame {
    height: $barheight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: color($navbg);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: auto;
    height: $barheight;
    padding-right: 20px;
    @include no-selection();
}

.nav-button {
    display: inline-block;
    line-height: $barheight;
    padding: 0 20px 0 20px;
    cursor: pointer;
    @include dark-on-hover($navbg);
}

#main-frame {
    padding-top: $barheight;
}