body, html, #body, #main-frame {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*
*   FRAMES
*/

#main-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.frame {
    height: 100%;
}

#map-frame {
    width: 70%;
}

#work-frame {
    width: 30%;
}

#selected-city-frame, #canvas-frame {
    height: 50%;
}

#city-info-frame {
    width: 40%;
    position: relative;
    float: left;
}

#upgrade-info-frame {
    width: 60%;
    float: right;
}

/*
*   CITY SELECT
*/

$selected-city-height: 40px;
$select-color: white;
$select-secondary-color: #f2f2f2;
$selected-city-font-size: 20px;
$selected-city-padding: 0 5px 0 5px;

.selected-city > .icon {
    font-size: 10px;
}

.selected-city {
    padding: $selected-city-padding;
    background-color: $select-color;
    height: $selected-city-height;
    line-height: $selected-city-height;
    font-size: $selected-city-font-size;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.selected-city:hover {
    background-color: $select-secondary-color;
    cursor: pointer;
}

.select-search {
    height: $selected-city-height;
    width: 100%;
    font-size: $selected-city-font-size;
    padding: $selected-city-padding;
    border: none;
}

.select-options {
    top: 0;
    display: none;
    width: 100%;
    background-color: $select-color;
    cursor: pointer;
    position: absolute;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-option {
    padding: 1px 5px 1px 5px;
    width: 100%;
    text-overflow: ellipsis;
}

.select-option:nth-child(even) {
    background-color: $select-secondary-color;
}

.selected-city > .name {
    max-width: 100%;
    text-overflow: ellipsis;
}

#selected-city-icon-frame {
    display: flex;
    justify-content: center;
}

.city-icon {
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

/*
* WORK FRAME
*/

#total-frame {
    height: 200px;
}

#click-frame {
    height: auto;
}